*{
	margin: 0;
	padding: 0;
}
body{
	 background: #ccc;
}
.contenedor-logo{
	display: block;
	background: rgba(0,0,0,.9);
	margin-top:-50px;
}
.logo{
	font-size: 60px;
	text-align: center;
	margin-top: 50px;
	-webkit-animation: mover 5s ease;
	-o-animation: mover 5s ease;
	-moz-animation: mover 5s ease;
	color: white;
	user-select: none;
	padding: 20px
}
@-webkit-keyframes mover{
	0%{
		margin-top: 0;
		opacity: 0;
	}
	100%{
		margin-top: 50px;
	}
}
@-moz-keyframes mover{
	0%{
		margin-top: 0;
		opacity: 0;
	}
	100%{
		margin-top: 50px;
	}
}
@-o-keyframes mover{
	0%{
		margin-top: 0;
		opacity: 0;
	}
	100%{
		margin-top: 50px;
	}
}
/* Aqui va el contenedor del formulario */
.contenedor{
	width: 300px;
	height: 397px;
	background: rgba(0,0,0,.9);
	position: absolute;
	right: 95px;
	top: 190px;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 0px 0px 30px 5px black;
}

.titulo{
	color: white;
	margin-top: 67px;
	padding: 5px;
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
	border-radius: 7px 7px 0 0;
	user-select: none;
}
.contenedor .formulario .contenedor-inputs{
	padding: 20px;
}
.contenedor .formulario input[type="email"],
.contenedor .formulario input[type="password"]{
	display: block;
	width: 100%;
	border: none;
	border-bottom: 4px solid #e02d03;
	padding: 10px 0px 10px 4px;
	margin-bottom: 20px;
	font-family: sans-serif;
	background: rgba(0,0,0,.9);
	font-size: 18px;
	color: white;
}
.formulario .btn{
	width: 100%;
	padding: 10px;
	background: #e02d03;
	color: white;
	font-size: 1.5em;
	font-family: sans-serif;
	border: none;
	border-radius: 0px 0px 7px 7px;
	cursor: pointer;
	margin-top: 18px;
}
span{
	display:table;
	color: white;
	padding: 4px;
}
.contenedor-slider{
	position: absolute;
	width: 550px;
	height: 400px;
	background: rgba(0,0,0,.9);
	top: 190px;
	left: 125px;
	border-radius: 7px;
}
.slider{
	position: absolute;
	width: 530px;
	height: 379px;
	left: 10px;
	top: 10px;
	object-fit: cover;
	-webkit-animation: slider 15s ease  infinite;
	-moz-animation: slider 15s ease  infinite;
	-o-animation: slider 15s ease  infinite;
}
@-webkit-keyframes slider{
	
	0%{
		background: url("img/s.jpg");
		
	}
	25%{
		background: url("img/l.jpg");
	
	}
	45%{
	   background: url("img/i.jpg");	
	}
	55%{
		background: url("img/d.jpg");
	}
	75%{
		background: url("img/e.jpg");
	}
	100%{
		background: url("img/r.jpg");
	}
}
@-moz-keyframes slider{
	
	0%{
		background: url("img/s.jpg");
		
	}
	25%{
		background: url("img/l.jpg");
	
	}
	45%{
	   background: url("img/i.jpg");	
	}
	55%{
		background: url("img/d.jpg");
	}
	75%{
		background: url("img/e.jpg");
	}
	100%{
		background: url("img/r.jpg");
	}
}
@-o-keyframes slider{
	
	0%{
		background: url("img/s.jpg");
		
	}
	25%{
		background: url("img/l.jpg");
	
	}
	45%{
	   background: url("img/i.jpg");	
	}
	55%{
		background: url("img/d.jpg");
	}
	75%{
		background: url("img/e.jpg");
	}
	100%{
		background: url("img/r.jpg");
	}
}
/*Aqui va lo del boton registro*/
.contenedor-btn{
	position: absolute;
	display: table;
	margin-top: -74px;
	right: 10px;
}
.Registro input{
	padding: 13px 29px 14px 29px;
	background:  #e02d03;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	border: none;
	font-weight: 100;
	cursor: pointer;
}

.Registro input:focus{
    outline: none;
}
	
@media screen and (max-width:768px){
	.contenedor-slider{
		display: none;
	}
	.logo{
        text-align: center;
		font-size: 40px;
	}
    .contenedor-btn{
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        top: 190px;
    }
    .Registro input:focus{
        outline: none;
    }
}

@media screen and (max-width:1200px){
	.contenedor-slider{
		position: absolute;
		left: 20px;
	}
	.logo{
		font-size: 50px;
		text-align: center;
	}
	.contenedor-btn{
		margin-top: -75px;
	}
    .Registro input:focus{
    outline: none;
}
}
@media screen and (max-width:1000px){
	.contenedor-slider{
		display: none;
	}
	.contenedor{
		position: absolute;
		bottom: 10;
		left: 0;
		right: 0;
		top:30;
		margin: auto;
	}
}
